MILRA_KeyLogger/Service References/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MILRA_Service" elementFormDefault="qualified" targetNamespace="MILRA_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPrediction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPredictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPredictionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flushUserRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="record" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flushUserRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>